body {
    color: #666;
}

h1,h2,h3,h4,h5,h6 {
    color: #111;
}

.menu {
    list-style:none;
    margin-left: -150px; 
    width: 290px;
    position: absolute;
    top: 285px;
    left: 150px;
    bottom: 0;
    z-index: 0; 
    background: rgb(235, 235, 235);
    overflow-y: auto;
    box-shadow: 0px 0px 10px 1.3px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 1.3px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 1.3px rgba(119, 119, 119, 0.75);  
}

.menu ul {
    list-style:none;
}

.menu a {
    color: #fff;
    border: none;
    white-space: normal;
    padding: 0.6em 0 0.6em 0.6em;
}
.menu li {
    color: black ;
    margin-bottom: 5px ;
}

.menu li a {
    display: block ;
    color: black ;
    line-height: 1em ;
    text-decoration: none ;
}

.menu li a:hover, .menu li a:focus, .menu li a:active {
    background: rgb(230, 230, 230) ;
}

.header-menu {
    color: black ;
    padding-left:8px;
    margin-left:0px;
    padding-bottom:5px;
    border-bottom: 1px solid rgb(109, 109, 109);
}

blockquote {
    border-left:2px solid #02A1CB;
    padding-left:8px;
    margin-left:0px;
}

.l-box {
    padding: 2em;
}

.photo-box {
    z-index: 2;   
}

.photo-box, .text-box {
    overflow: hidden;
    position: relative;
    height: 250px;
}

.photo-box img { 
    min-height: 200px;
    width: 100%;
}

div.wrapper {
    position:relative; /* important(so we can absolutely position the description div */  
}

div.description{  
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:0px; /* position will be on bottom */  
    left:0px;  
    display:none; /* hide it */  
    /* styling bellow */  
    background-color:black;  
    font-family: 'tahoma';  
    font-size:15px;  
    color:white; 
}  

div.description_content{  
    padding:10px;  
} 

.wrapper img {
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.75);
}

.text-box {
    background: rgb(235, 235, 235); /* bluish grey */
    z-index: 1;
}

    .text-box-head {
        color: #000;
        border-bottom:2px solid rgb(204, 204, 204);
        padding-bottom: 0.2em;
    }

    .text-box-subhead {
        color:#02A1CB;
        font-weight: normal;
        font-size: 150%;
    }

.footer {
    width:250px;
    position:absolute;
    bottom:0;
    z-index:10;
    color: #666;
    padding: 1em;
    font-size: 80%;
}

@media (max-width: 767px) {
    .photo-box, .text-box {
        text-align: center;
    }
        .photo-box img {
            z-index:1;
            width: 100%; 
        }    
    
        .photo-box img {
            width: 100%; 
        }

    .text-box {
        height: auto;
    }
    
    .menu {
        width: 100%;
        z-index:2;
        position: absolute;
        top:400px; 
    }

}
