<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="fr"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="fr"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="fr"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="fr"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{$title}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
	<link rel="stylesheet" href="{$path_style}/stylesheets/base.css">
	<link rel="stylesheet" href="{$path_style}/stylesheets/skeleton.css">
	<link rel="stylesheet" href="{$path_style}/stylesheets/layout.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
    <link rel="icon" type="image/png" href="{$path_style}/images/favicon.png" />
    
    <script type="text/javascript">
    $(window).load(function(){  
    //for each description div...  
    $('div.description').each(function(){  
        //...set the opacity to 0...  
        $(this).css('opacity', 0);  
        //..set width same as the image...  
        $(this).css('width', $(this).siblings('img').width());  
        //...get the parent (the wrapper) and set it's width same as the image width... '  
        $(this).parent().css('width', $(this).siblings('img').width());  
        //...set the display to block  
        $(this).css('display', 'block');  
    });  
  
    $('div.wrapper').hover(function(){  
        //when mouse hover over the wrapper div  
        //get it's children elements with class description '  
        //and show it using fadeTo  
        $(this).children('.description').stop().fadeTo(500, 0.7);  
    },function(){  
        //when mouse out of the wrapper div  
        //use fadeTo to hide the div  
        $(this).children('.description').stop().fadeTo(500, 0);  
    });  
  
    });     
    </script>
    
    <!-- http://www.designchemical.com/blog/index.php/jquery/jquery-simple-vertical-accordion-menu/ -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.menujs > li > a').click(function(){
            if ($(this).attr('class') != 'active'){
                $('.menujs li ul').slideUp();
                $(this).next().slideToggle();
                $('.menujs li a').removeClass('active');
                $(this).addClass('active');
            }
            });
        });
</script>
</head>
<body>
    
    {$caca="caca"}

	<!-- Primary Page Layout
	================================================== -->

	<div class="container">
		<div class="sixteen columns">
			<h1 class="remove-bottom" style="margin-top: 40px">{$title}</h1>
			<hr />
		</div>
		<div class="three columns">
            <ul class="menujs">
                {loop="pages"}
                    <li class="toggleSubMenu"><a href="index.php?page={$value}">{function="name($value)"}</a></li>
                {/loop}
            </ul>
            
                <ul class="menujs">
                {loop="categories_1"}
                    {if="is_sub_dir($value,1)!=1"}<li><a href="index.php?path=content/{$value}">{function="name($value)"}</a>
                    {else}<li><a href="#">{function="name($value)"}</a>
                        {$first_dir=$value}
                        <ul>
                        {loop="categories2_1"}
                            {if="$first_dir==dir_name($value)"}<li><a href="index.php?path=content/{$value}">{function="name($value)"}</a></li>{/if}
                        {/loop}
                        </ul>
                    {/if}
                    </li>
                {/loop}
                </ul>
        </div>
		<div class="thirteen columns">
			    <div class="twelve columns">
                <!-- MEDIA -->
                {if="isset($medias)"}
                    
                    {if="comment_exist()==1"}
                    <blockquote class="content-quote">{function="show_comment()"}
                        {if="logged()==1"}<a href="index.php?path={$comment_path}&amp;comment=edit" class="button">Edit</a>{/if}</blockquote>
                    {elseif="comment_exist()==2"}
                        {if="logged()==1"}<a href="index.php?path={$comment_path}&amp;comment=add" class="button">Create</a>{/if}
                    {/if}
                    
                    {loop="medias"}
                        <div class="wrapper">
                        <!-- pictures -->
                        {if="is_img($value)==1"}<a href="index.php?path={$value}&amp;single"><img src="{$value}" class="scale-with-grid" /></a>
                            <!-- comment -->
                            <div class='description'> 
                            {if="logged()==1 AND comment_img_exist($value)==0"}<a href="index.php?path={$value}&amp;single_comment=add" class="button">Create</a>
                            {elseif="comment_img_exist($value)==1"}
                                <div class='description_content'>{function="show_img_comment($value)"}
                                {if="logged()==1"}<a href="index.php?path={$value}&amp;single_comment=edit" class="button">Edit</a>{/if}
                                </div>
                            {/if}
                            </div>
                        <!-- video -->
                        {elseif="is_vid($value)==1"}<p><video class="scale-with-grid-resize" controls="controls">{function="display_video($value)"}</video></p>
                            <!-- comment -->            
                            {if="logged()==1 AND comment_img_exist($value)==0"}<a href="index.php?path={$value}&amp;single_comment=add" class="button">Create</a>
                            {elseif="comment_img_exist($value)==1"}
                                {function="show_img_comment($value)"}
                                {if="logged()==1"}<a href="index.php?path={$value}&amp;single_comment=edit" class="button">Edit</a>{/if}
                            {/if}
                        {/if}
                        </div>
                    {/loop}
                <!-- COMMENT CREATION -->
                {elseif="isset($add_comment) AND logged()==1"}
                    {function="create_comment($add_comment)"}
                <!-- SINGLE IMAGE -->
                {elseif="isset($one_pic)"}
                    <!-- picture -->
                    <img src="{$one_pic}" class="scale-with-grid" />
                    {if="logged()==1 AND comment_img_exist($one_pic)==0"}<a href="index.php?path={$one_pic}&amp;single_comment=add" class="button">Create</a>
                    <!-- comment -->
                    {elseif="comment_img_exist($one_pic)==1"}
                        {function="show_img_comment($one_pic)"}
                        {if="logged()==1"}<a href="index.php?path={$one_pic}&amp;single_comment=edit" class="button">Edit</a>{/if}
                    {/if}
                    <!-- exif data -->
                    {if="$exif!=0"}
                        <ul>
                        <li>{$exif.date}</li>
                        <li>Modèle : {$exif.model}</li>
                        <li>{$exif.aperture} - {$exif.exposure} - ISO {$exif.iso}</li>
                        </ul>
                    {/if}
                <!-- PAGE -->
                {elseif="isset($page)"}
                    {function="display_page($page)"}
                {/if}
            </div>
		</div>
		<div class="sixteen columns">
            <hr />
            {$footer_text}
        </div>

	</div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>